.logout {
  .btn {
    border: none !important;
    font-size: 15px;
    padding: 0px 8px;
    width: 28px;
    height:27px;
    border-radius: 100px;
    background: #ff6d43;
  }
}
.fa-cube{
    font-size: 21px;
}
