.main .container{
    width: 600px;

}
// .table {
//   border: 1px solid #444;
//   td,
//   th {
//     border: 1px solid #444;
//     position: static;
//   }
// }
.btn_back {
  font-weight: 600;
  font-size: 14px;
  border: none !important;
  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: none;
  }
  &:hover {
    border: none;
  }
}
.Extbold {
  font-weight: 900 !important;
  //   padding-bottom: 10px !important;
}

@media print {
  button {
    display: none;
  }
  nav, footer {
    display: none;
  }
}
.bottom_ar{
  td{
    color: #222;
    font-weight: bold;
    padding: 10px 20px;
    
  }
}
.text-right{
  text-align: right;
}
.btn_green{
  background: #15cab7!important;
}
.no_data{
  font-size: 13px;
  background-color: #f2f7fc;
  margin-top: 0px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 9px;
}