// .bill {
//   display: flex;
//   align-items: center;
//   gap: 10px;
//   .count {
//     background-color: #0d6efd;
//     color: #fff;
//     border-radius: 100px;
//     font-size: 13px;
//     width: 20px;
//     height: 20px;
//     display: inline-block;
//     text-align: center;
//     line-height: 20px;
//   }
// }
