<div class="login shadow-sm rounded">
  <div class="welcome_header">
    <h4><i class="fa fa-cube" aria-hidden="true"></i> Glass House</h4>
    <!-- <h4>Login</h4> -->
    <p>Welcome back..!</p>
  </div>
  @if(error){
  <div class="error alert alert-danger">
    {{ error }}
  </div>
  }
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="">User Name</label>
      <input
        [formControlName]="'email'"
        type="text"
        name=""
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input
        [formControlName]="'password'"
        [type]="passwordVisible ? 'text' : 'password'"
        class="form-control"
      />
      <button type="button" class="btn btn_eye" (click)="togglePasswordVisibility()">
        <i [class]="passwordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
      </button>
    </div>
    <div class="form-group mb-0">
      <button (click)="onSubmit()" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
